.gourp12-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;

    .gourp12-container-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 39px;
        margin-top: 180px;
        .gourp12-container-title {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            p:nth-child(1) {
                color: rgb(242, 190, 34);
                font-family: 'Nunito Sans', sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
            p:nth-child(2) {
                color: rgb(24, 18, 30);
                font-family: 'Nunito Sans', sans-serif;
                font-size: 32px;
                font-weight: 800;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: center;
            }
        }
        .gourp12-container-img{
            .gorp12-contianer-img-box{
                display: flex;
                align-items: center ;
                flex-wrap: wrap;
                img{
                    margin: 10px;
                }
            }
            .gourp-container-button{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
                button{
                    width: 178px;
                    height: 52px;
                    border-radius: 4px;
                    background: rgb(26, 62, 62);
                    color: rgb(253, 253, 253);
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 1.2%;
                    text-align: center;
                    border: none;
                }
            }
        }
    }
}